@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iran;
  src: url(./font/iran.ttf);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: iran;
}

.persian-content {
  direction: rtl;
}
